*.iml
.gradle/
/local.properties
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
.kotlin/

# Android Studio / IntelliJ
.idea/*
!.idea/copyright/
!.idea/runConfigurations
*.hprof

# Build outputs
app/build/
build/
